

.mates-map-container{
  height: 100vh;
  background-image: linear-gradient(rgba(247, 247, 247, 0.5), rgba(252, 252, 251, 0.5)), url('../../../public/mapbg.png');
  background-color: $primary;
  background-size: cover;
  .mates-map {
    height: 100vh;
    width: 100vh;
    margin: 0 auto;
    
  }
}

.popup{
  .popup-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 8px;
    line-height: 2.2;
  }
}

#popup-location{
  text-decoration: underline;
  text-decoration-color: $primary;
}

// .mates-map-info{
//   display: flex;
//   flex-direction: column;
//   margin: 10px auto;
//   padding: 12px;
//   border: 1px solid rgb(213, 213, 213);
//   border-radius: 10px;
//   background-color: $bbase-color;
// }