.main-container {
  display: flex;
  justify-content: center;
  background: $primary;
  .profile-container {
    padding: 30px 10px;
    .profile-card-container {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    .box {
      background-color: $bbase-color;
      margin: 0 10px 10px 30px;
      max-width: 400px;
    }
  }
}



@media screen and (min-width: 850px) {
  .profile-container {
    display: flex;
    height: 100%;
    justify-content: space-around;
    .box {
      width: 400px;
    }
    .profile-card-container {
      flex-direction: column;
      .chakra-stack {
        text-align: center;
      }
    }
    .proile-holidays-container {
      overflow: auto;
    }
    .header-mates-container {
      .profile-header-container {
        position: sticky;
        top: 11%;
      }
      .box {
        position: sticky;
        top: 42%;
      }
    }
  }
}